.container {
  margin: 0 auto;
  max-width: 700px;
}
.weather-app {
  border: 1px grey solid;
  padding: 35px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}

body {
  font-family: "Mukta", sans-serif;
}

h1,
h3 {
  color: lightsalmon;
}

h3 {
  font-size: 18px;
}

.current-degrees {
  display: inline;
  font-size: 65px;
  padding-right: 10px;
  line-height: 0.4;
  margin: 0;
}

.d-f {
  position: relative;
  bottom: 17px;
}

.weather-description {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2px;
}
.degrees-description {
  margin-right: 20px;
}

.not-selected {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active {
  text-decoration: none;
  color: lightsalmon;
  cursor: default;
}

#icon {
  position: relative;
  bottom: 35px;
  height: 90px;
  width: 90px;
}

.weather-forecast {
  text-align: center;
}
.forecast-date {
  font-size: 17px;
  font-weight: 350;
}

.forecast-temperature {
  font-size: 16px;
  margin-top: 3px;
}

.forecast-temperature-max {
  color: lightsalmon;
}

a {
  color: lightsalmon;
  text-decoration: none;
}
small {
  font-weight: 300;
}
