.container {
  margin: 0 auto;
  max-width: 700px;
}
.weather-app {
  border: 1px grey solid;
  padding: 35px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}

body {
  font-family: "Mukta", sans-serif;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.current-degrees {
  display: inline;
  font-size: 65px;
  padding-right: 10px;

  line-height: 0;
}

.d-f {
  position: relative;
  bottom: 28px;
}

.weather-description {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2px;
}
.degrees-description {
  margin-right: 20px;
  margin-bottom: 5px;
}
#icon {
  position: relative;
  bottom: 45px;
  height: 90px;
  width: 90px;
}
.small {
  margin: 0 auto;
}
